<div class="about">


  <div class="pic">
    <h1>About Us</h1>
    <p>Welcome to BESTFAB. The best at what we do.</p>
  </div>

  <div class="post-container">
    <div class="content">
      <div class="gist">
        <p class="huge">We are a Tier 1</p>
        <h2>Full Service Engineering Firm</h2>
        <p class="subtitle">We are behind some of the world's largest engineering projects.</p>
        <nz-divider></nz-divider>

        <p>We are a major fabricator and erector of structural steel. Our work encompasses all types of steel construction, including bridges, buildings and treatment facilities. At Best Fab, we insure quality through our management and control systems, developed on the job in hundreds of diverse projects over our 20 years history.</p>

        <p>We have combined the skills and experience of our people, from supervisors to crew members, into cohesive, smooth-functioning teams guided by communication and personal pride in their work.</p>


        <nz-row [nzGutter]="16" class="stats">
          <nz-col [nzSpan]="16" style="margin-bottom: 16px;">
            <nz-statistic [nzValue]="(461 | number)!" [nzTitle]="'Finished Projects'"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="16">
            <nz-statistic [nzValue]="(703459 | number: '1.0-2')!" [nzTitle]="'Combined Project Value'" [nzPrefix]="'$'"></nz-statistic>
          </nz-col>
        </nz-row>

        <p style="font-weight: 500;">
          Reach out at  <a href="mailto:info@bestfab.com.au">info@bestfab.com.au</a> with any questions. Our friendly support team will respond quickly.
        </p>
      </div>

      <div class="service-overview">

        <h2>What we do</h2>
        <p class="subtitle">Overview of services we offer.</p>
        <nz-divider></nz-divider>

        <bf-services></bf-services>

      </div>

    </div>
  </div>
</div>
